[build]
  publish = "dist"
  command = "jupyter lite build --apps lab --contents lite/files --output-dir dist --force"

[[headers]]
  for = "/*.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "/build/*.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "/*.mjs"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"

[[headers]]
  for = "/*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

# 如果使用service worker
[[headers]]
  for = "/service-worker.js"
  [headers.values]
    Content-Type = "application/javascript; charset=utf-8"
    Service-Worker-Allowed = "/"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
  
[build.environment]
  NODE_VERSION = "18"