[build]
  publish = "dist"
  command = """
  pip install -U jupyterlite==0.6.4 jupyterlite-core==0.6.4 jupyterlite-pyodide-kernel==0.6.0 &&
  mkdir -p dist &&
  python -m jupyterlite build --config lite/jupyter_lite_config.json --contents lite/files --output-dir dist --apps lab,tree,repl,edit --force &&
  echo '/* /index.html 200' > dist/_redirects
  """

[build.environment]
  PYTHONUNBUFFERED = "1"
  PYTHON_VERSION = "3.11"
