[build]
  command = """
  pip install -U jupyterlite==0.6.4 jupyterlite-core==0.6.4 jupyterlite-pyodide-kernel==0.6.3 &&
  mkdir -p dist &&
  python -m jupyterlite build --config lite/jupyter_lite_config.json --contents lite/files --output-dir dist --apps lab,tree,repl,edit &&
  echo '/* /index.html 200' > dist/_redirects
  """
  publish = "dist"

[build.environment]
  PYTHON_VERSION = "3.11"
  PIP_DISABLE_PIP_VERSION_CHECK = "1"
  PYTHONUNBUFFERED = "1"
